.content
  .chat-main--group-info
    .group-name
      test
    .member
      Member:masa
    .edit-btn
      = link_to '#' do
        Edit
  .chat-main--message-list
    .message
      .div
        .name
          masa
        .time
          2019
      .div2
        .comnnt
          おはよう
        .image

  .chat-main--messag-form
    .input-box
      %input{type: "text",class: "input-box_text",placeholder: "type a message"}
      %label{class: "input-box_image"}
        = icon('fas', 'image')
        %input{type: "file",class: "input-box_image_file"}
    %input{type: "submit", class: "submit-btn", value: "Send"}
    