* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
  width: 100vw;
  height: 100vh;
}
// side-barクラスのレイアウト
.side-bar{
  float: left;
  width: 300px;
  height: 100%;
  background-color: #253141;
    a{
      color: #ffffff;
     float: right;
      text-decoration: none ;
    }
    &-user-name{
      height: 100px;
      font-size: 16px;
      padding: 0px 20px; 
      color: #ffffff;
  
  }
}

.items{
  display: flex;
  text-align: center;
  justify-content: space-between;
  height: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.user-name{
  width: 260px;
  text-align: left
}

.top-items--icons{
  width: 60px;
  float: right;
  
}

.side-bar--group-list{
  height: calc(100% - 100px);
  font-size: 15px;
  color: #ffffff;
  padding: 20px 20px;
}

.sample1{
  padding: 0px 0px 5px 0px;

  &_2{
    font-size:11px;
  }
  
}


// content
.content{
  float: right;
  height: 100%;
  width: calc(100vw - 300px);
}

.chat-main--group-info{
  background-color: #ffffff;
  height: 100px;
  display: flex;
  justify-content:space-between
}

.group-name{
  float: left;
  color: #333333;
  font-size: 20px;
  padding: 35px 0px 27px 40px;
}

.member{
  float: left;
  font-size: 12px;
  color: #999999;
  padding: 80px 0px 0px 40px;
  position: absolute;
}

.edit-btn{
  margin-top: 28px;
  margin-right: 10px;
  width: 5%;
  height: 30px;
  border: solid 1px #00ffff;
  a{
    text-decoration: none ;
    color:#00ffff;
    font-size: 16px;
    margin: 10px 10px 10px 10px;
  }
}

.chat-main--message-list{
  background-color: #fafafa;
  height: calc(100% - 100px - 90px);

  &_-messag-form{

    background-color: #d2d2d2;
    height: 90px;
    width: calc(100vw - 300px);
    position: absolute;
    bottom: 0;
    display: flex;
  }
}



.div{
  display: flex;
  padding: 35px 0 0 30px;
}

.name{
  color: #333333;
  font-size: 16px;
  float: left;

}

.time{
  color: #999999;
  font-size: 12px;
  padding: 4px 6px;
}

.div2{
  padding: 12px 30px ;
}

.comnnt{
  color: #434a54;
  font-size: 14px;
}


  .chat-main--message-form{
    display: flex;
    background-color: #d2d2d2;
    .input-box{
      display: flex;
      width: 100%;
      position: relative;
      display: flex;


      &_text{
        height: 50px;
        width: 100%;
        color: #434a54;
        border-style: none;
        padding: 0 40px 0 10px;
        margin-top: 30px;
        margin-bottom: 10px;
        margin-left: 40px;
     }

      &_image{
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 1.3rem;
        margin-top: 30px;
      }

      &_image_file{
        display: none;
      }
    }
  }
    .submit-btn{
    width: 100px;
    height: 50px;
    float: right;
    padding: 0 30px;
    margin-left: 15px;
    background-color: #38aef0;
    color: #ffffff;  
    padding-top: 10px;
    padding-bottom: 40px;
    margin-right: 40px;
    margin-top: 30px;

    
  } 
